flow.json
[{"id":"92a11620.721058","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a4a1bc.e6286e4","type":"fs-ops-dir","z":"92a11620.721058","name":"","path":"source","pathType":"flow","filter":"*","filterType":"str","dir":"payload","dirType":"msg","x":400,"y":160,"wires":[["5ca94eb0.ba48f"]]},{"id":"85f8c278.03092","type":"inject","z":"92a11620.721058","name":"Run second","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["5a4a1bc.e6286e4"]]},{"id":"5ca94eb0.ba48f","type":"function","z":"92a11620.721058","name":"","func":"msg.new = msg.payload.map(item => {\n    return {\n        old: item,\n        modified: item.split(flow.get(\"regex\")).filter(r => r!== \"\")||item\n    }\n})\nmsg.payload = msg.new;\ndelete msg.new;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["cb9bb352.78c64"]]},{"id":"9fc7bd11.dc148","type":"fs-ops-move","z":"92a11620.721058","name":"","sourcePath":"source","sourcePathType":"flow","sourceFilename":"payload.old","sourceFilenameType":"msg","destPath":"target","destPathType":"flow","destFilename":"payload.modified","destFilenameType":"msg","link":false,"x":980,"y":160,"wires":[[]]},{"id":"cb9bb352.78c64","type":"split","z":"92a11620.721058","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":160,"wires":[["9fc7bd11.dc148"]]},{"id":"dde2fec8.c4c2f","type":"inject","z":"92a11620.721058","name":"Run first to set source and target folders","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":60,"wires":[["55ff29c6.db5808"]]},{"id":"55ff29c6.db5808","type":"function","z":"92a11620.721058","name":"Customize regex pattern, source and target folders","func":"//Sets the source folder\nflow.set(\"source\",'\\\\\\\\EXQ-DC01\\\\RedirectedFolders\\\\sinu.sen\\\\Desktop\\\\5S\\\\Photos');\n\n//Sets the target folder\nflow.set(\"target\",'\\\\\\\\EXQ-DC01\\\\RedirectedFolders\\\\sinu.sen\\\\Desktop\\\\5S\\\\Photos')\n\n//Sets the pattern\nflow.set(\"regex\",/.*_(.+)$/)\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[[]]}]