flow.json
[{"id":"92a11620.721058","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5a4a1bc.e6286e4","type":"fs-ops-dir","z":"92a11620.721058","name":"","path":"\\\\EXQ-DC01\\RedirectedFolders\\sinu.sen\\Desktop\\5S\\Photos","pathType":"str","filter":"*","filterType":"str","dir":"payload","dirType":"msg","x":420,"y":160,"wires":[["5ca94eb0.ba48f"]]},{"id":"85f8c278.03092","type":"inject","z":"92a11620.721058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["5a4a1bc.e6286e4"]]},{"id":"5ca94eb0.ba48f","type":"function","z":"92a11620.721058","name":"","func":"msg.new = msg.payload.map(item => {\n    return {\n        old: item,\n        modified: item.split(/.*_(.+)$/)[1]||item\n    }\n})\nmsg.payload = msg.new;\ndelete msg.new;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["cb9bb352.78c64"]]},{"id":"9fc7bd11.dc148","type":"fs-ops-move","z":"92a11620.721058","name":"","sourcePath":"\\\\EXQ-DC01\\RedirectedFolders\\sinu.sen\\Desktop\\5S\\Photos","sourcePathType":"str","sourceFilename":"payload.old","sourceFilenameType":"msg","destPath":"\\\\EXQ-DC01\\RedirectedFolders\\sinu.sen\\Desktop\\5S\\Photos","destPathType":"str","destFilename":"payload.modified","destFilenameType":"msg","link":false,"x":980,"y":160,"wires":[[]]},{"id":"cb9bb352.78c64","type":"split","z":"92a11620.721058","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":160,"wires":[["9fc7bd11.dc148"]]}]